body {
  font-family: 'Overpass', sans-serif;
}

header {
  width: 100%;
  background-color: #9c1c20;
  display: flex;
}

h3,
a.link {
  color: white;
  margin: 0 18px;
  padding: 18px 0;
  font-size: 22px;
}

img.image-one,
textarea,
input {
  width: 100%;
  border: 3px solid black;
  font-family: inherit;
}

label,
input {
  margin: 8px 0;
}

input {
  height: 40px;
}

i {
  margin-right: 14px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin-bottom: 24px;
}

button,
a.edit,
a.new {
  padding: 8px 12px;
  margin: 12px 0;
  background-color: #9c1c20;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover,
a.edit:hover,
a.new:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-button {
  display: flex;
  justify-content: flex-end;
}

.padding {
  padding: 8px 0;
}

.flex-entry {
  display: flex;
  justify-content: space-between;
}

.align {
  display: flex;
  align-items: center;
}
